*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.general-hero{
    height: 100%;
    width: 100%;
    background-image: url('/images/background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px 6rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1rem 0rem;
}
.link{
    margin-left: 1.1rem;
    font-size: 1.1rem;
    color: #303030;
    text-decoration: none;
}
.active{
    border-bottom: 2px solid #CAC6BB;
}
.navcenter{
    font-size: 2.1rem;
    font-weight: 800;
    font-family: sans-serif;
    color: #303030;
}
.span-title{
    color: #909090;
}
.social-icons{
    margin-left: 1.1rem;
}
.main-title{
    display: flex;
    justify-content: center;
    margin: 1.5rem 0 0 0;
}
.username{
    font-size: 5.4rem;
    font-weight: 500;
    color: #303030;
    margin-bottom: -1rem;
}
.details{
    display: flex;
    justify-content: space-between;
    gap: 4.3rem;
    margin-top: 2.5rem;
}
.service-heading{
    color: #303030;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.service-items{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.service-item{
    list-style: none;
}
.service-top{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.service-icon{
    width: 42px;
    height: 42px;
    background-color: #F6F6F6;
    box-shadow: 0px 24px 50px 0px rgba(13, 12, 56, 0.10);
}
.service-name{
    font-size: 1.2rem;
    font-weight: 600;
}
.service-detail{
    color: #909090;
    font-size: 18px;
    margin-top: .7rem;
}
.userimg{
    width: 376px;
    object-fit: cover;
}
.userimg-exp{
    display: flex;
    gap: 3.2rem;
}
.user-intro{
    font-size: 1.5rem;
    font-weight: 600;
    color: #303030;
}
.experience{
    margin-top: 3rem;
}
.more-details{
    color: #909090;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.8rem;
}
.hirebtn{
    border: none;
    background-color: #303030;
    color: #F6F6F6;
    padding: 8px 12px;
    font-size: 16px;
    margin-top: 1.9rem;
}
.records{
    margin-top: 2rem;
}
.record-items{
    display: flex;
    justify-content: space-between;
}
.record{
    list-style: none;
}
.record-num{
    font-size: 30px;
    color: #303030;
}
.record-name{
    color: #909090;
    
}






























/* body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.animate{
   font-size: 40px;
   margin:60px 0px 0px 60px;
   width: 200px;
   height: 200px;
   background-color: burlywood;
   animation: allround 10s ease 1s 2 ;
  
} */
/* .animate:hover{
    transform: scaleX(2); 
    transition: transform 2s ease 4s;
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-delay: 4s;
} */
/* @keyframes allround {
    5%{
        transform: translateX(150px);
    }
    25%{
        transform: rotate(45deg);
    }
    50%{
        transform: skew(10deg);
    }
    100%{
        transform: scale(2);
    }

} */

















/* project start */
/* body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
    
}
.card{
    width: 880px;
    height: 350px;
    display: flex;
    gap: 8px;
    border-radius: 16px;
    border: 1px solid var(--blue-grey-100, #CFD8DC);
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.08);
}
.leftside{
  width: 50%;
  height: 100%;
}
.rightside{
width: 50%;
height: 100%;
display: flex;
flex-direction: column;
gap: 60px;
padding: 30px 15px;
}
.card-img{
  width: 100%;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
}
.stars-rate{
    display: flex;
    gap: 10px;
    align-items: center;
}
.mainparag{
    margin-top: 5px;
    color: #78909C;
}
.stars{
    margin-top: 16px;
}
.rate{
 background-color: #27AE60;
 color: #ECEFF1;
 padding: 4px;
 text-align: center;
 margin-bottom: -10px;
 border-radius: 17px;
}
.bottomside{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
}
.box{
    text-align: center;
}
.info{
    margin-bottom: 10px;
    color: #90A4AE;
    font-size: 16px;
    font-weight: 500;
}
.infovalue{
    color: #607D8A;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.dot{
    width: 8px;
    height: 8px;
    background-color: #27AE60;
    border-radius: 10px;
    animation: beeper .7s ease infinite;
} */
/* @keyframes beeper {
    0%{
        transform: scale(.8);
    }
    25%{
        transform: scale(1);
        background-color: red;
    }
    50%{
        transform: scale(1.4);
    }
    100%{
        transform: scale(.8);
    }
}
@keyframes hr-move {
    0%{
        width: 100%;
    }
    25%{
        width: 0;
    }
    50%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
}
hr{
    color: #F1F1F1;
    animation: hr-move 2s ease ;
}
.hr{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 885px) {
    .card{
        flex-direction: column;
        width: 500px;
        height: 80vh;
    }
    .card-img{
        border-radius: 16px 16px 0px 0px;
    }
    .leftside{
        width: 100%;
    }
    .rightside{
        width: 100%;
    }
}
@media screen and (max-width: 510px) {
    body{
        padding: 0 10px;
    }
}
@media screen and (max-width: 433px) {
    .card{
        width: 90%;
        height: 70vh;
        gap: 4px;
    }
    .rightside{
        gap: 30px;
        padding: 15px;
    }
    .bottomside{
        padding: 5px;
    }
    .info{
        font-size: 15px;
    }
    .infovalue{
        font-size: 16px;
    }
} */
/* project end */


/* .general-content{
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 900px;
}
.navbar{
    background-color: #FFFAFA; 
    padding-top: 5px;
    position: fixed;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-link{
    display: flex;
    gap: 60px;
}
.links{
    display: flex;
    align-items: center;
    gap: 20px;
}
.title{
color: #282828;
font-size: 30px;
font-weight: 700;
}
.social{
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.menu-icon{
    width: 38px;
    height: 19px;
}
.menubar{
    display: flex;
    align-items: center;
}
.header{
    padding-top: 60px;
}
.vectors{
    position: relative;
}
.vector1, .vector2, .vector3, .vector4, .vector5{
    position: absolute;
}
.vector1{
    top: 250px;
    left: 100px;
}

.user-intro{
    color: #282828;
    font-size: 65px;
    font-weight: 700;
}
.pink-name{
    color: #FF4C60;
}
.downloadbtn{
    color: #282828;
    font-size: 16px;
    margin-top: 12px;
}
.dash{
    margin-left: 14px;
}
.scrollbtn{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.scrollicon{
    width: 60px;
}
.scrolltext{
    margin-top: -7px;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.userimg{
    width: 580px;
    object-fit: cover;
}
.newsletter{
    background-color: #F9F3F5;
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.news-text{
  width: 40%;
  text-align: center;
}
.news-title{
    color: #282828;
    font-size: 30px;
    font-weight: 700;
}
.news-prag{
    color: #C4C4C4;
    font-size: 18px;
}
.news-input{
width: 60%;
}
.news-btn{
    display: flex;
    gap: 5px;
}
.news-email{
    border: none;
    outline: none;
    background-color: #FFFAFA;
}
.newsbtn-text{
    color: #282828
}
.inputbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFAFA;
    padding: 22px 48px;
}
.skills{
    margin-top: 100px;
    display: flex;
}
.skills-img{
 width: 45%;
 position: relative;
}
.skills-content{
 width: 55%;
}
.skillimg-bg{
    width: 100%;
}
.skillimg-container{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px){
    .general-content{
        padding: 0 30px;
    }
    .links{
        display: none;
    }
    .title{
        font-size: 12px;
    }
}
@media screen and (max-width: 780px) {
    .userimg{
        width: 450px;
    }
}
@media screen and (max-width: 475px) {
    .user-intro{
        font-size: 45px;
    }
    .userimg{
        width: 350px;
    }
    .header-content{
        flex-direction: column;
    }
} */